.minitab {
    width: 1500px;
    background-color: transparent;
    z-index: 900;
    justify-items: end;
}

.tabs {
    width: 1500px;
    background-color: transparent;
    margin: 10px;
    gap: 10px;
    justify-content: end
}

.tab.tab-active {
    background-color: #222831 !important;
    color: white !important;
}

button.btn {
    background-color: #222831 !important;
    color: white !important;

}

button.btn:hover {
    background-color: transparent !important;
    color: rgb(38, 56, 78) !important;
    border: 2px solid rgb(38, 56, 78) !important;
}

.downdiv {
    width: 1500px;
    height: 605px;
    margin-left: 15px;
    border-radius: 5px;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

thead {
    font-size: 20px !important;
    color: black !important;
}

table {
    overflow: hidden !important;
    background-color: #fffffff3;
    color: black;
    text-align: center !important;
}

.downdiv.flex.justify-between {
    height: 550px !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.formbra {
    position: relative;
    display: flex;
    justify-content: center;
}

.edit-bt,
.delete-bt,
.disable-bt {
    transition: 600ms;
}

.edit-bt:hover,
.delete-bt:hover,
.disable-bt:hover {
    transition: 600ms !important;
    scale: 1.1 !important;
}


.tooltip-C {
    position: relative;
    display: inline-block;
}

.tooltipB {
    visibility: hidden;
    background-color: rgb(48, 65, 85);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    top: 100%;
}

.tooltip-C:hover .tooltipB {
    visibility: visible;
}

.modal-box {
    width: 500px;
    max-width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    background-color: #fffffff3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: black;
}

.formbra {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
}

th {
    color: black
}



td {
    font-size: 20px;
}