.btn-add {
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
.btn-add:hover {
    background-color: #45a049; /* Darker green on hover */
}
.btn-close {
    background-color: #f44336; /* Red */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.btn-close:hover {
    background-color: #e53935; /* Darker red on hover */
}
  
