#tab:hover {
    background-color: #222831;
    color: white;
}


.tab {
    transition: 600ms;
    width: 200px;
    background-color: #00000047;
    color: black;
}

.tabs {
    justify-content: start;
    gap: 10px;
}

#tab.tab-active {
    background-color: #222831;
    color: white;
}

.tab:hover {
    scale: 1.1;
    transition: 600ms;
}